# 有道云笔记拉取配置文件
#
# 有道云cookies
YNOTE_CSTK=""
YNOTE_LOGIN=""
YNOTE_SESS=""
#
# 本地存储目录，不填则默认为当前文件夹
LOCAL_DIR=""
# 选填，有道云笔记目录，默认会下载该所有的笔记，支持多层目录，例如：根目录/子目录/子子目录
YDNOTE_DIR=""
# 在 MD 文件中图片 / 附件是否采用相对路径展示，选项：true或者false
IS_RELATIVE_PATH=true
# 删除本地多余的文件或目录，如果有道笔记上没有的文件或目录，将会被删除
DEL_SPARE_FILE=true
DEL_SPARE_DIR=true
# 选填， [SM.MS](https://sm.ms) 的 `Secret Token`（注册后 -> Dashboard -> API Token）
# 用于上传笔记中有道云图床图片到 SM.MS 图床，不填则只下载到本地（`youdaonote-images` 文件夹），`Markdown` 中使用本地链接
SMMS_SECRET_TOKEN=""
